@using MitechCenter.vn.Models;
@model StaticElement
@{
	ViewData["Title"] = "CAROUSEL";
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
	<div class="row">
		<div class="col-7 align-self-center">
			<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Carousel</h4>
			<div class="d-flex align-items-center">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb m-0 p-0">
						<li class="breadcrumb-item"><a href="index.html" class="text-muted">MCMS</a></li>
						<li class="breadcrumb-item text-muted active" aria-current="page">Trang chủ</li>
					</ol>
				</nav>
			</div>
		</div>
		@* <div class="col-5 align-self-center">
			<div class="customize-input float-right">
				<select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
					<option selected>Aug 19</option>
					<option value="1">July 19</option>
					<option value="2">Jun 19</option>
				</select>
			</div>
		</div> *@
	</div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

 <!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
	<!-- ============================================================== -->
	<!-- Start Page Content -->
	<!-- ============================================================== -->
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">CAROUSEL 1</h4>
			<form method="post">
				<div class="form-group">
					<input asp-for="eKey" style="display:none"/>
					<input asp-for="eDescription" style="display:none"/>
					<h4 class="card-title mt-3">Nội dung tiêu đề</h4>
					<input type="text" class="form-control" id="prenametext" placeholder="Tiêu đề carousel">
					<h4 class="card-title mt-3">Nội dung văn bản nhỏ</h4>
					<textarea asp-for="eData" class="form-control" rows="3" placeholder="Nhập tại đây...">@Model.eData</textarea>
					<h4 class="card-title mt-3">Link ảnh sản phẩm</h4>
					<input type="text" class="form-control" id="prenametext" placeholder="Link ảnh sản phẩm">
					<h4 class="card-title mt-3">Link ảnh nền</h4>
					<input type="text" class="form-control" id="prenametext" placeholder="Link ảnh nền">
					<h4 class="card-title mt-3">Nút bấm</h4>
					<div class="row">
						<div class="col-6">
							<input type="text" class="form-control" id="prenametext" placeholder="Chữ trong nút">
						</div>
						<div class="col-6">
							<input type="text" class="form-control" id="prenametext" placeholder="Link của nút">
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-rounded btn-success">CẬP NHẬT</button>
				@Html.Raw(ViewBag.notification)
			</form>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End PAge Content -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Right sidebar -->
	<!-- ============================================================== -->
	<!-- .right-sidebar -->
	<!-- ============================================================== -->
	<!-- End Right sidebar -->
	<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->